@charset "UTF-8";
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&family=Titillium+Web&display=swap");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url();
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  width: 1315px;
  margin: 0;
  padding: 0;
}

/*Início do Menu*/
nav {
  display: flex;
  justify-content: space-between;
}
nav div#logo {
  margin-top: 10px;
  margin-left: 40px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  padding: 12px;
  margin: 2px;
}

.menu a {
  color: rgb(247, 247, 247);
  text-decoration: none;
  transition: 200ms;
}

li a:hover {
  color: black;
  background-color: rgb(255, 217, 0);
  padding: 12px;
  border-radius: 6px;
}

/*Fim Menu*/
.container-principal {
  display: block;
  padding-top: 20px;
  padding-left: 40px;
  color: white;
  margin: auto;
  width: 95%;
  height: 600px;
  background-color: #161619;
  margin-left: 40px;
}
.container-primario {
  padding-top: 10px;
  padding-left: 50px;
  color: white;
  background-color: #161619;
  width: 88%;
  height: 200px;
  margin-left: 29px;
  padding-right: 50px;
}
.container-primario p {
  text-indent: 5%;
  text-align: justify;
}
.container-rodape {
  margin: 0 auto 0 auto;
  width: 95%;
  height: 700px;
  margin-top: 50px;
  background-color: #161619;
  color: white;
}
.container-rodape p {
  margin-left: 50px;
  margin-bottom: 100px;
}
.container-rodape h1 {
  padding-top: 20px;
  margin-left: 50px;
}
.container-rodape label {
  margin-left: 50px;
}
.entrada {
  font-size: 17px;
  color: rgb(255, 255, 255);
  padding: 15px;
  background-color: #4b4b4b;
  border: none;
  border-radius: 5px;
}

.container-rodape input#enviar {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 16px;
  background-color: rgb(199, 90, 0);
  border: none;
  border-radius: 5px;
}
.container-rodape textarea {
  margin-top: 20px;
  margin-left: 50px;
  width: 735px;
  border-radius: 5px;
  border: none;
}
.redessociais {
  display: flex;
  height: 40px;
  align-items: center;
  flex-direction: row;
  float: right;
  margin-top: -140px;
}

.redessociais a {
  display: flex;
  text-decoration: none;
  color: white;
  gap: 15px;
  align-items: center;
}
